# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Shell config scripts
*.sh
*.sh.1


#CLion files
server/.idea
server/cmake-build-debug
server/CMakeLists.txt
server/cmake-build-debug-wsl

client/.idea
client/cmake-build-debug
client/CMakeLists.txt
client/cmake-build-debug-wsl


